## <font color='green'> Importing the Required Libraries ~Pandas </font>

In [ ]:
import pandas as pd

## <font color='green'>Reading Our Dataset </font>

In [6]:
# Loading CSV File into our Dataframe
healthdata =  pd.read_csv('HealthData.csv')

In [11]:
healthdata.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520


1)Age:  Age in years. .

2)Sex: The  persons gender (male/female).

3)BMI (Body Mass Index): A measure of body fat based on height and weight.

    Formula: weight (kg) / (height (m))Â²

    Normal range: 18.5-24.9


3) Children: Number of dependents . 

4) Smoker: Whether the person smokes (yes/no).

5) Region:  residential area in the US (northeast, northwest, southeast, southwest).
6) Charges: medical insurance cost in USD. This is the target variable we aim to predict.

 <font color='red'>*Objective*: Predict medical insurance charges based on our 6 features age,sex,bmi,children,smoker, region, charges.</font>

## <font color='green'> Terminology </font>

-Dataset

-EDA

-Datapoint/vector/Observation

-Feature/Variable/Input-variable/InDependent-varaibale

-Label/depdendent-variable/Output-variable/Class/Class-label/Response label

## <font color='green'>Basic Exploration </font>

In [9]:
# How many datapoints and features are there  in Dataset ?
healthdata.shape

(1338, 7)

In [12]:
#How many Columns/features are in the Dataset ? 
healthdata.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [14]:
#Summary Of Dataset . 
healthdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [15]:
healthdata.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010